1-Introduction.bbl
1-Introduction.blg
1-Introduction/Introduction.aux
1-Introduction/Introduction.tex.backup
2-StateOfTheArt/review.aux
2-StateOfTheArt/review.tex.backup
3-TaskPlanner/planner.aux
4-Algorithm/algorithm.aux
5-Implementation/implementation.aux
6-Experiments/experiments.aux
7-Conclusions/conclusions.aux
main.aux
main.bbl
main.blg
main.log
main.tex.backup
main.toc
planner.bbl
planner.blg
title.aux
